{% extends "layout.html" %}

{% block page_title %}
  GOV.UK prototype kit
{% endblock %}

{% block service_name %}
{% include "shareyourmedicalrecords/1/inc/service_name.html" %}
{% endblock %}

{% block content %}

<main id="content" role="main">
  <div class="grid-row">
    <div class="column-full">

      <h1 class="heading-xlarge">
        Ashley Jordan patient summary
      </h1>

      <p class="lede">
        This is the information for Ashley Jordan held by their GP surgery.
      </p>

      <h3 class="heading-medium">
        Active problems and issues
      </h3>

      <table>
        <thead>
          <tr>
            <th scope="col">Start date</th>
            <th scope="col">Entry</th>
            <th scope="col">Significance</th>
            <th scope="col">Details</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>5 May 2016</td>
            <td>Herpes simplex virus</td>
            <td>Minor</td>
            <td></td>
          </tr>
          <tr>
            <td>1 February 2018</td>
            <td>Compound fracture - shinbone</td>
            <td>Major</td>
            <td></td>
          </tr>
        </tbody>
      </table>

      <h3 class="heading-medium">
        Current medication issues
      </h3>

      <table>
        <thead>
          <tr>
            <th scope="col">Start date</th>
            <th scope="col">Medication item</th>
            <th scope="col">Scheduled end date</th>
            <th scope="col">Days duration</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>10 March 2018</td>
            <td>Zomorph 60mg </td>
            <td>9 April 2018</td>
            <td>31 days</td>
          </tr>
          <tr>
            <td>5 May 2016</td>
            <td>Aciclovir</td>
            <td>4 August 2016</td>
            <td>3 months</td>
          </tr>
        </tbody>
      </table>

      <h3 class="heading-medium">
        Current repeat medications
      </h3>

      <p>
        None
      </p>

      <h3 class="heading-medium">
        Current allergies and adverse reactions
      </h3>

      <table>
        <thead>
          <tr>
            <th scope="col">Start date</th>
            <th scope="col">Details</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>1 September 2015</td>
            <td>Hay fever</td>
          </tr>
        </tbody>
      </table>

      <h3 class="heading-medium">
        Encounters
      </h3>

      <table>
        <thead>
          <tr>
            <th scope="col">Date</th>
            <th scope="col">Title</th>
            <th scope="col">Details</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>10 March 2018</td>
            <td>Miss Tanya Turnpike (Practice Nurse) - Dr Johnson and Partners (J12345)</td>
            <td>Increased pain, opiate painkiller required</td>
          </tr>
          <tr>
            <td>5 March 2018</td>
            <td>Miss Messenger</td>
            <td>Result : All good - No Action.</td>
          </tr>
          <tr>
            <td>2 March 2018</td>
            <td>Mr Pickles</td>
            <td>Operation - repair shinbone fracture</td>
          </tr>
          <tr>
            <td>5 May 2016</td>
            <td>Dr Jeffrey Johnson - Dr Johnson and Partners (J12345)</td>
            <td>Herpes simplex virus. 3 month suppression</td>
          </tr>

        </tbody>
      </table>

      <p>
        &nbsp;
      </p>

      <p>
        <a href="choose-to-share" class="button">Continue</a>
      </p>

    </div>
  </div>
</main>

{% endblock %}
