{% extends "layout.html" %}

{% block page_title %}
  GOV.UK prototype kit
{% endblock %}

{% block service_name %}
{% include "shareyourmedicalrecords/1/inc/service_name.html" %}
{% endblock %}

{% block content %}

<main id="content" role="main">
  <div class="grid-row">
    <div class="column-two-thirds">

      <h2 class="heading-large">
        You're about to see your NHS medical record.
      </h2>

      <p>
        The Department for Work and Pensions don't have access to it.
      </p>
      
      <p>
        You can choose what you want to share with them.
      </p>

      <a href="patient-summary" class="button">Continue</a>



    </div>
  </div>
</main>

{% endblock %}
