{% extends "layout.html" %}

{% block page_title %}
  GOV.UK prototype kit
{% endblock %}

{% block service_name %}
{% include "shareyourmedicalrecords/1/inc/service_name.html" %}
{% endblock %}

{% block content %}

<main id="content" role="main">
  <div class="grid-row">
    <div class="column-full">

      <h1 class="heading-xlarge">
        Check what you're sharing.
      </h1>


      <p class="lede">
        These are the records you've chosen to share with DWP.
      </p>

      <h3 class="heading-medium">
        Conditions
      </h3>

      <table>
        <thead>
          <tr>
            <th scope="col">Start date</th>
            <th scope="col">Entry</th>
            <th scope="col">Significance</th>
            <th scope="col">Details</th>
          </tr>
        </thead>
        <tbody>
          {# <tr>
            <td>5 May 2016</td>
            <td>Herpes simplex virus</td>
            <td>Minor</td>
            <td></td>
          </tr> #}
          <tr>
            <td>1 February 2018</td>
            <td>Compound fracture - shinbone</td>
            <td>Major</td>
            <td></td>
          </tr>
        </tbody>
      </table>

      <h3 class="heading-medium">
        Current medication issues
      </h3>

      <table>
        <thead>
          <tr>
            <th scope="col">Start date</th>
            <th scope="col">Medication item</th>
            <th scope="col">Scheduled end date</th>
            <th scope="col">Days duration</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>10 March 2018</td>
            <td>Zomorph 60mg </td>
            <td>9 April 2018</td>
            <td>31 days</td>
          </tr>
          {# <tr>
            <td>5 May 2016</td>
            <td>Aciclovir</td>
            <td>4 August 2016</td>
            <td>3 months</td>
          </tr> #}
        </tbody>
      </table>

      <h3 class="heading-medium">
        Current repeat medications
      </h3>

      <p>
        None.
      </p>

      <h3 class="heading-medium">
        Current allergies and adverse reactions
      </h3>

      <p>
        Nothing selected.
      </p>


      <h3 class="heading-medium">
        Encounters
      </h3>

      <table>
        <thead>
          <tr>
            <th scope="col">Date</th>
            <th scope="col">Title</th>
            <th scope="col">Details</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>10 March 2018</td>
            <td>Tanya Turnpike (Practice Nurse) - Dr Johnson and Partners (J12345)</td>
            <td>Increased pain, opiate painkiller required</td>
          </tr>
          <tr>
            <td>5 March 2018</td>
            <td>Dr Messenger - St.James Hospital. Check to discharge.</td>
            <td>Agreed hospital discharge</td>
          </tr>
          <tr>
            <td>2 March 2018</td>
            <td>Mr Pickles. Surgeon St.James Hospital</td>
            <td>Operation - repair shinbone fracture</td>
          </tr>
        </tbody>
      </table>

      <p>
        &nbsp;
      </p>

      <p>
        <a href="what-happens-next" class="button">Continue</a>
      </p>

      <p>
        <a href="choose-to-share">Change my selection</a>
      </p>

    </div>
  </div>
</main>

{% endblock %}
